:root {
    --bg-color: #282a36;
    --main-textc: #fff8de;
    --alt-textc: rgba(119,244,136,255);
    --nav-color: #b799e3;

    --transparent-1: #fff8de;

    --tiny-padding: 5px;
    --small-margin: 20px;
    --mid-margin: 40px;
    --large-margin: 100px;
    --half: 50%;
    --half-height: 50vh;

    --image-width: 500px;
    --image-height: 400px;
    --small-animation-timer: 3s;
    
    --small-font: 20px;
    --mid-font: 35px;
    --font-fam: Trebuchet MS, sans-serif;

    --tiny-border-width: 1px;
    --small-border-width: 5px;
}

html {font-family: var(--font-fam);}

#divider1 {
    border-right: var(--small-border-width) double white;
    padding: var(--tiny-padding);
    min-height: 100vh;
    width: var(--half);
    color: var(--alt-textc);
    position: absolute;
}
#divider2 {
    position: absolute;
    margin-left: calc(var(--half) + var(--mid-margin));
    margin-top: var(--small-margin);
}
.screenshot {
    margin-top: var(--large-margin);
    margin-bottom: calc(var(--half-height) - var(--image-height));
    width: var(--image-width);
    height: var(--image-height);
}

h1 {margin-top: 0; text-align: center;}
.text {
    text-align: center;
    height: var(--half-height);
    padding: 0;
    margin: 0;
}